<?xml version="1.0"?>
<config>
  <modules>
    <Mage_Epay>
      <version>2.8.4</version>
    </Mage_Epay>
  </modules>
  <global>
    <models>
      <epay>
        <class>Mage_Epay_Model</class>
        <resourceModel>epay_mysql4</resourceModel>
      </epay>
      <epay_mysql4>
        <class>Mage_Epay_Model_Mysql4</class>
        <entities>
          <paymentrequest>
            <table>paymentrequest</table>
          </paymentrequest>
        </entities>
      </epay_mysql4>
    </models>
    <resources>
      <epay_setup>
        <setup>
          <module>Mage_Epay</module>
          <class>Mage_Epay_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </epay_setup>
      <epay_write>
        <connection>
          <use>core_write</use>
        </connection>
      </epay_write>
      <epay_read>
        <connection>
          <use>core_read</use>
        </connection>
      </epay_read>
    </resources>
    <blocks>
      <epay>
        <class>Mage_Epay_Block</class>
      </epay>
    </blocks>
    <helpers>
      <!-- helper path -->
      <epay>
        <class>Mage_Epay_Helper</class>
      </epay>
    </helpers>
  </global>
  <frontend>
    <secure_url>
      <epay_standard>/epay/standard</epay_standard>
    </secure_url>
    <routers>
      <epay>
        <use>standard</use>
        <args>
          <module>Mage_Epay</module>
          <frontName>epay</frontName>
        </args>
      </epay>
    </routers>
    <translate>
      <modules>
        <Mage_Epay>
          <files>
            <default>Mage_Epay.csv</default>
          </files>
        </Mage_Epay>
      </modules>
    </translate>
    <layout>
      <updates>
        <epay_standard_redirect>
          <file>epay.xml</file>
        </epay_standard_redirect>
      </updates>
    </layout>
    <events>
      <sales_order_place_after>
        <observers>
          <epay_order_placed_after_action>
            <class>epay/observer</class>
            <method>orderPlacedAfter</method>
          </epay_order_placed_after_action>
        </observers>
      </sales_order_place_after>
  </events>
  </frontend>
  <adminhtml>
    <events>
      <adminhtml_widget_container_html_before>
        <observers>
          <mage_epay>
            <class>epay/observer</class>
            <method>adminhtmlWidgetContainerHtmlBefore</method>
          </mage_epay>
        </observers>
      </adminhtml_widget_container_html_before>
      <core_block_abstract_prepare_layout_before>
        <observers>
          <epay_massorder>
            <class>epay/observer</class>
            <method>addMassOrderAction</method>
          </epay_massorder>
        </observers>
      </core_block_abstract_prepare_layout_before>
      <core_block_abstract_prepare_layout_before>
        <observers>
          <epay_massinvoice>
            <class>epay/observer</class>
            <method>addMassInvoiceAction</method>
          </epay_massinvoice>
        </observers>
      </core_block_abstract_prepare_layout_before>
    </events>
    <layout>
      <updates>
        <epay>
          <file>epay.xml</file>
        </epay>
      </updates>
    </layout>
    <translate>
      <modules>
        <Mage_Epay>
          <files>
            <default>Mage_Epay.csv</default>
          </files>
        </Mage_Epay>
      </modules>
    </translate>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <epay>
                      <title>Epay Section</title>
                    </epay>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <menu>
      <sales>
        <children>
          <epay_adminform translate="title" module="epay">
            <title>ePay Payment Request</title>
            <sort_order>99</sort_order>
            <action>adminhtml/paymentrequest</action>
          </epay_adminform>
        </children>
      </sales>
    </menu>
  </adminhtml>
  <default>
    <payment>
      <epay_standard>
        <model>epay/standard</model>
        <title>Bambora Online ePay</title>
        <active>1</active>
        <sort_order>1</sort_order>
        <merchantnumber></merchantnumber>
        <windowstate>1</windowstate>
        <windowid>1</windowid>
        <sendmailorderconfirmation>1</sendmailorderconfirmation>
        <handlestock>1</handlestock>
        <allowspecific>0</allowspecific>
        <transaction_type>0</transaction_type>
        <remoteinterface>0</remoteinterface>
        <enableinvoicedata>0</enableinvoicedata>
        <splitpayment>0</splitpayment>
        <order_status>pending</order_status>
        <order_status_after_payment>processing</order_status_after_payment>
        <use_auto_cancel>0</use_auto_cancel>
        <cancelonedit>1</cancelonedit>
        <enablemobilepaymentwindow>1</enablemobilepaymentwindow>
        <enablesurcharge>0</enablesurcharge>
        <surchargemode>surcharge_order_line</surchargemode>
        <roundingmode>round_default</roundingmode>
      </epay_standard>
      <ccsave>
        <active>0</active>
      </ccsave>
      <free>
        <active>0</active>
      </free>
    </payment>
    <web>
      <session>
        <use_remote_addr>0</use_remote_addr>
      </session>
    </web>
  </default>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Mage_Epay before="Mage_Adminhtml">Mage_Epay_Adminhtml</Mage_Epay>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <crontab>
    <jobs>
      <order_cancel_orders>
        <schedule>
          <cron_expr>*/10 * * * *</cron_expr>
        </schedule>
        <run>
          <model>epay/observer::autocancelPendingOrders</model>
        </run>
      </order_cancel_orders>
    </jobs>
  </crontab>
</config>
